* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.carritoCompra {

    color: rgb(71, 69, 69);
    text-align: center;
    width: 100%;
    padding: 30px 40px;


}

.carritoCompra a {
    color: black;

}


.carritoCompra a:hover {

    color: blue;
    text-decoration: none;

}

        





