* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.formularioLogin{

    background: rgb(245, 211, 207);
    background: linear-gradient(11deg, rgba(245, 211, 207, 1) 0%, rgba(172, 165, 164, 0.98) 50%, rgba(204, 127, 117, 1) 100%);
    width: 100%;
    height: 200%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    

}


.formularioLogin h3 {

            text-align: center;
            font-size: 20px;
            padding-top: 2rem;
            padding-bottom: 1rem;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            

}

.controls {

    width: 30%;
    border: 2px solid gray;
    margin-bottom: 2rem;
    padding: 15px 20px;
    background: rgb(245, 211, 207);
    background: linear-gradient(11deg, rgba(245, 211, 207, 1) 0%, rgba(172, 165, 164, 0.98) 50%, rgba(204, 127, 117, 1) 100%);
    font-weight: bold;
    
}

.button {

    width: 30%;
    height: 40px;
    background: rgb(245, 211, 207);
    background: linear-gradient(11deg, rgba(245, 211, 207, 1) 0%, rgba(172, 165, 164, 0.98) 50%, rgba(204, 127, 117, 1) 100%);
    font-weight: bold;
    border: 2px solid gray;   
          



}

.formularioLogin p {

    font-size: 20px;
    font-family: 'Arial Narrow';
    font-weight: bold;
        

}

.formularioLogin a{

    text-decoration: none;
    color: gray;
    
    

}

.formularioLogin a:hover{

    color: black;
    


}