* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

$color1:rgb(245, 211, 207);
$color2: white;
$color3: black;
$color4:grey;
$gradient:linear-gradient(11deg, rgba(245, 211, 207, 1) 0%, rgba(172, 165, 164, 0.98) 50%, rgba(204, 127, 117, 1) 100%);

$font1:'Franklin Gothic Medium';
$font2:'Arial Narrow';

$var1:100%;
$var2:50%;

$ancho:300px;
$alto:200px;

$letra1:15px;
$letra2:25px;


/*--------------Encabezado-------------*/

.headerInfo__promo--animation {

    color: $color3;
    background-color: blue;
    text-align: center;
    font-family: $font1;
    font-size: $letra1 + 2;
    border: 3px solid $color3;
    animation-name: un_efecto;
    animation-duration: 5s;
    animation-delay: 1s;

}


@keyframes un_efecto {

    0% {
        width: ($var1)-($var2);
        background: $color1;
        background: $gradient;

    }

    25% {
        width: 100%;

    }

    50% {
        width: ($var1)-($var2);
        background: $color1;
        background: $gradient
    }

    75% {
        width: 100%;

    }

    100% {
        width: 100%;
        background-color: $color1;

    }

}

/*--------------Mobil Firts-------------*/

@media only screen and (min-width: 1200px) {
    .headerInfo__promo--animation {

        background-color: $color1;
        width: auto;
        height: auto;


    }

}

.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: flex end;
    background-color: $color2;


}

/*--------------Mobil Firts-------------*/

@media only screen and (min-width: 1200px) {
    .encabezado {

        background-color: $color2;
    }

}


.encabezado__botton--imgTransition {
    display: flex;
    align-items: flex-end;
    height: 15px;
    width: 10%;
    padding-top: 30px;
    margin-top: 160px;
    transition: transform 0.5s ease;


}


.lista1:hover {
    transform: translate(0.5em)
}

.lista2:hover {
    transform: translate(0.5em)
}



/*--------------Mobil Firts-------------*/


@media only screen and (max-width: 768px) {
    .encabezado__botton--imgTransition {

        background-color: $color2;
        text-align: center;
        align-items: center;
        display: table-column;
        height: auto;
        width: auto;
        padding-bottom: 3rem;

    }

}


.encabezado__botton--imgTransition li {


    list-style: none;
    margin: 0 10px;

}



/*-------------Navegador--------------*/

.navbar {

    background-color: $color4;
}

.navbar-dark .navbar-nav .nav-link {

    color: $color3 !important;
}

.form-control {

    color: $color3 !important;
    border: 1px solid $color3 k !important;
}

.btn-outline-success {
    color: $color3 !important;
    border-color: $color3 !important;
    background-color: $color4 !important;

}


/*---------------Sección Index--------------------------*/

.carousel video {

    object-fit: cover;
    object-position: center;
    height: 50vh;

}

#productosDestacados h1 {

    background: rgb(238, 213, 203);
    background: rgb(245, 211, 207);
    background: $gradient;
    text-align: center;
    font-family: $font1;
    font-size: $letra2;
    font-weight: bold;


}


/*---------------Secciones Index-Mochilas-Valijas-Accesorios--------------------------*/
.section2 {
    background-color: $color2;
    margin: 2rem;



}

.card-img-top {
    width: 170px !important;

}

.destacados {

    border: 2px solid $color1;
    font-size: 20px;
    font-weight: bold;
    transition: transform 0.5s ease;
    margin: 0%;
    text-align: center;
    margin-left: 0%;

}


.destacados img:hover {

    transform: scale(1.3, 1.3);


}

.destacados h4 {

    font-size: $letra1;
    padding: 2rem;
}

#carrito {

    font-size: 13px;
    background-color: $color4;
    color: $color3;
    border: 2px $color4;

}

#carrito:hover {
    background-color: rgb(59, 58, 58);

}

/*--------------Tabla Bootstrap-------------*/
.container {

    background: rgb(238, 213, 203);
    background: rgb(245, 211, 207);
    background: $gradient;
    text-align: center;
    font-family: cursive;
    font-size: $letra1;
}



#todosLosProductos h1 {

    background: $color1;
    background: rgb(245, 211, 207);
    background: $gradient;
    text-align: center;
    font-family: $font1;
    font-size: $letra2;

}

@media only screen and (max-width: 400px) {
    .container {

        display: none;
        width: 0%;
        height: 0%;

    }
    #todosLosProductos h1{

        display: none;
        width: 0%;
        height: 0%;

    }    

    

}
/*---------Titulo-"Quienes Somos"---------*/


.historia__titulo {

    height: ($alto/4);
    width: 100%;
    color: $color4;
    font-style: normal;
    font-family: 'STIX Two Text', serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    border: 3px solid rgb(245, 211, 207);
    text-shadow: 5px 5px 5px coral;

}

/*-----------"Imagen e Historia"-----------------*/

.infoHistoria {

    background-image: url("./img/valijas.jpg");
    height: 400px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


}


.infohistoria__historia {
    color: grey;
    font-family: 'STIX Two Text', serif;
    font-size: larger;
    text-align: justify;
    text-transform: none;
    margin-bottom: 10px;
    border: 3px solid $color1;

}

/*----------Sección Contacto----------*/

.formulario {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: $color1;
    background: $gradient;
}

.consultanos {

    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}

.consultanos legend {

    font-size: $letra2;

}

fieldset {

    padding-right: 100px;


}



/*----------Pie de Página----------*/



.elFooter__enlaces {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-around;
    font-family: $font2;
    background-color: $color4;
    text-align: left;


}


/*--------------Mobil Firts-------------*/

@media only screen and (max-width: 1197px) {
    .elFooter__enlaces {

        background-color: rgb(78, 78, 78);
        flex-direction: column;
    }


}

@media only screen and (min-width: 768px) {
    .elFooter__enlaces {

        background-color: rgb(122, 118, 118);

    }

}


@media only screen and (min-width: 1200px) {
    .elFooter__enlaces {

        background-color: $color4;
    }


}

.elFooter__enlaces a {

    text-decoration: none;
    list-style: none;
    font-size: $letra1;
    color: $color3;
    font-family: $font2;
    font-weight: bold;
    display: flex;
    justify-content: left;
    text-align: left;


}

.elFooter__enlaces a:hover {

    color: blue;
}


.listado {

    font-size: $letra1;
    margin-right: 0rem;
    font-family: 'Arial Narrow';
    font-weight: bold;
    text-align: left;



}

.listado a:hover {
    color: blue;

}


.elFooter li {

    margin: 15px;
    text-align: left;
    list-style: none;
    color: $color3;
    text-decoration: none;
    font-size: 15px;


}


#quieneSomos {
    color: $color3;
    text-decoration: none;

}

#quieneSomos:hover {

    color: blue;

}

#contacto {
    color: $color3;
    text-decoration: none;
}

#contacto:hover {

    color: blue;
}




#rs1 {
    color: black;
    text-decoration: none;
    transition: transform 0.5s ease;

}

#rs1:hover {

    transform: translate(0.5em)
}

#rs2 {
    @extend #rs1;

}

#rs2:hover {
    transform: translate(0.5em)
}


.email {
    color: $color3;
    text-decoration: none;
}

.elFooter__resto {

    text-align: center;
    margin-right: 2rem;
    font-family: $font2;
    font-weight: bold;


}

.footeer__iframe {

    height: 25%;
    width: 100%;



}

.subir {

    color: $color3;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $font2;
    font-weight: bold;
    font-size: 15px;
    margin-right: 100px;
    padding-bottom: 5%;


}

.subir:hover {

    color: blue;


}

/*----------Login------------*/

.formularioLogin {

    background: rgb(245, 211, 207);
    background: linear-gradient(11deg, rgba(245, 211, 207, 1) 0%, rgba(172, 165, 164, 0.98) 50%, rgba(204, 127, 117, 1) 100%);
    width: 100%;
    height: 200%;
    display: flex;
    flex-direction: column;
    align-items: center;



}


.formularioLogin h3 {

    text-align: center;
    font-size: 20px;
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;


}

.controls {

    width: 30%;
    border: 2px solid gray;
    margin-bottom: 2rem;
    padding: 15px 20px;
    background: rgb(245, 211, 207);
    background: linear-gradient(11deg, rgba(245, 211, 207, 1) 0%, rgba(172, 165, 164, 0.98) 50%, rgba(204, 127, 117, 1) 100%);
    font-weight: bold;



}

.button {

    width: 30%;
    height: 40px;
    background: rgb(245, 211, 207);
    background: linear-gradient(11deg, rgba(245, 211, 207, 1) 0%, rgba(172, 165, 164, 0.98) 50%, rgba(204, 127, 117, 1) 100%);
    font-weight: bold;
    border: 2px solid gray;



}

.formularioLogin p {

    font-size: 20px;
    font-family: 'Arial Narrow';
    font-weight: bold;



}

.formularioLogin a {

    text-decoration: none;
    color: black;



}

.formularioLogin a:hover {

    color: blue;



}

/*----------Carrito de Compras------------*/

.carritoCompra {

    color: rgb(71, 69, 69);
    text-align: center;
    width: 100%;
    padding: 30px 40px;


}

.carritoCompra a {
    color: black;

}


.carritoCompra a:hover {

    color: blue;
    text-decoration: none;

}


@import "header";
@import "nav";
@import "main";
@import "footer";
@import "error";
@import "login";
@import "compras";
